@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body {
margin: 0;
font-family: 'Montserrat', sans-serif;
background-color: #fff;
}

/* NAVBAR */
.navbar {
  background-color:  rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid #fae952;
  
}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  transition: color 0.25s;
  font-family: 'Montserrat', sans-serif;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.nav-link:hover {
  color: #fae952 !important;
}

/* Ícone do menu mobile */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.6);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.principal img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(85%);
}

.texto {
  position: absolute;
  top: 60%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 25px 35px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  color: #f5c742;
  line-height: 1.1;
}

/* Subtítulo */
.texto p {
  margin: 0;
  font-size: 40px;
  color: #f5c742;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.blog-card {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 10%;
  border-bottom: 1px solid #eee;
}

/* Imagem do post */
.blog-img img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 10px 10px 0px #d1d1d1;
}

/* Área de texto */
.blog-text {
  width: 60%;
}

/* Título do post */
.blog-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  color: #d3b25f;
}

/* Descrição */
.blog-text p {
  font-size: 16px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

/* Lista de benefícios */
.blog-text ul {
  padding-left: 20px;
}

/* Cada item */
.blog-text li {
  margin-bottom: 8px;
  font-size: 15px;
}


.blog-text h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #d3b25f;
  margin-top: 8px;
  border-radius: 2px;
}

.contatos {
  width: 100%;
  background: #000; 
  padding: 60px 20px;
  text-align: center;
  color: #fff;
}

#contato-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.contatos .linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 12px 0;
  font-size: 20px;
}

.contatos .icon {
  font-size: 26px;
  color: #D4AF37; 
}

.logo-secao {
  width: 150px;
  margin-bottom: 30px;
}

.copy {
  margin-top: 25px;
  font-size: 16px;
  opacity: 0.8;
}

.logo-secao {
  width: 150px;
  margin-bottom: 30px;
}

/* RESPONSIVO  */
@media (max-width: 768px) {

  .blog-card {
    flex-direction: column;
    padding: 25px 20px;
    gap: 20px;
  }

  .blog-img img {
    width: 100%;
    box-shadow: none; 
  }

  .blog-text {
    width: 100%;
  }

  .blog-text h2 {
    font-size: 22px;
    text-align: center;
  }

  .blog-text p {
    font-size: 15px;
    text-align: justify;
  }

  .blog-text ul {
    padding-left: 18px;
  }

  .blog-text li {
    font-size: 14px;
  }

  .blog-text h2::after {
    margin: 8px auto 0 auto;/* centraliza a linha */
  }
}
